<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/LinkSharing</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">LastChance@1</property>

        <!--JDBC connection pool-->
        <property name="connection.pool_size">10</property>

        <!-- SQL Dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!--echo all executed SQL-->
        <property name="show_sql">true</property>

        <!--drop or re-create database schema at startup-->
        <property name="hbm2ddl.auto">create</property>

        <!--Annotated entity class-->

          <mapping class="com.yashi.model.User"/>
        <mapping class="com.yashi.model.Topic"/>
        <mapping class="com.yashi.model.Subscription"/>
        <mapping class="com.yashi.model.Resource"/>
        <mapping class="com.yashi.model.EmailOTP"/>
        <mapping class="com.yashi.model.ReadingItem"/>
    </session-factory>
</hibernate-configuration>